In [1]:
x =1
x == 0

False

In [2]:
type(False)

bool

In [6]:
bool(x>=1)

True

In [11]:
bool(0)

False

# Operators

<html>
    <b> Comparison Operators </b>
</html>

<div class="table-contents"><table summary="Comparison Operators" style="border-collapse: collapse;border-top: 0.5pt solid ; border-bottom: 0.5pt solid ; border-left: 0.5pt solid ; border-right: 0.5pt solid ; "><colgroup><col><col></colgroup><thead><tr><th style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p>Operator</p></th><th style="border-bottom: 0.5pt solid ; " valign="top"><p>Meaning</p></th></tr></thead><tbody><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">==</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Equal to</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">!=</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Not equal to</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">&lt;</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Less than</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">&gt;</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Greater than</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">&lt;=</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Less than or equal to</p></td></tr><tr><td style="border-right: 0.5pt solid ; " valign="top"><p><code class="literal">&gt;=</code></p></td><td style="" valign="top"><p>Greater than or equal to</p></td></tr></tbody></table></div></div>

In [3]:
print(bool.__doc__)

bool(x) -> bool

Returns True when the argument x is true, False otherwise.
The builtins True and False are the only two instances of the class bool.
The class bool is a subclass of the class int, and cannot be subclassed.

In [1]:
type(True)

bool

## Integer Comparison

In [12]:
x = 5
y = 6

In [15]:
x_dec = x <= y

In [16]:
x = y

In [18]:
x is y

True

In [35]:
y = 1247492
x = 1247492

In [36]:
id(x),id(y)

(139637922203248, 139637922204496)

In [37]:
x == y

True

In [38]:
x is y

False

In [39]:
id(x) == id(y)

False

## Strings

In [67]:
x_str = 'hello'
y_str = 'helloooo'

In [68]:
x_str > y_str

False

In [69]:
x_str is y_str

False

In [72]:
'l' in x_str

True

## Lists

In [91]:
lst_x = [25,2,3,10,5]
lst_y = [12.3,3.4,5.7,7.3]

In [77]:
lst_x[3] < lst_y[0]

True

In [95]:
2 == 2

True

In [96]:
2 is lst_x[1]

True

In [101]:
lst_str = ['hello','python','pandas','numpy']
'pandas' in lst_str

True

In [105]:
lst_z = lst_x
lst_z is lst_x

True

## Tuples

In [106]:
tup_a = (1,2,3,4,5)
tup_b = tup_a
tup_b is tup_a

True

In [110]:
5 in tup_b

True

## Sets

In [111]:
set_a = {1,2,3,4,5}
set_b = set_a.copy()
set_a is set_b

False

In [116]:
1 in set_a

True

## Dictionary

In [115]:
dict_num = {1:'one',2:'two',3:'three',4:'four'}

In [120]:
dict_num.values()

dict_values(['one', 'two', 'three', 'four'])

In [157]:
for i in dict_num.keys():
    print(i)

1
2
3
4
7
8
10
12

In [156]:
if 1 in dict_num.keys():
    print(dict_num[1])

[1, 2, 3, 4, 5]

In [121]:
if 'one' in dict_num.values():
    print(dict_num.)

True

In [130]:
(7,'two') in dict_num.items()

False

In [152]:
dict_num

{1: 'number',
 2: 'two',
 3: 'three',
 4: 'four',
 7: 'four',
 8: 'number',
 10: 'number',
 12: 'number'}

In [151]:
dict_num[12] = dict_num.get(12,'number')

In [141]:
dict_num

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 7: 'four', 8: 'number'}

In [134]:
dict_num[7] = 'four'

In [ ]:
dict_num[4] == 'four'

In [ ]:
dict_dup = dict_num
dict_dup is dict_num

In [ ]:
dict_dup

In [154]:
dict_num[1] = [1,2,3,4,5]
dict_num

{1: [1, 2, 3, 4, 5],
 2: 'two',
 3: 'three',
 4: 'four',
 7: 'four',
 8: 'number',
 10: 'number',
 12: 'number'}

In [168]:
3 in dict_num[1]

True

In [170]:
dict_count = dict()

In [173]:
if 1 in dict_num:
    dict_num[1] = dict_num[1]+1
else:
    dict_num[1] = 1

True

In [175]:
dict_count = dict()

In [ ]:
for i in  range(10):
    name = input('Enter the name to count')
    dict_count[name] = dict_count.get(name,0) + 1
    dict_count[name]

Enter the name to countchetan
0

## And ,Or operator

In [158]:
x,y =6,5

In [167]:
type(x >0 and y==0)

bool

In [162]:
if x >0 and y>0:
    print(x,y)