# Important Functions

In [4]:
print('Hello world ')
print('Hello python')

Hello world
Hello python

In [9]:
print()

In [ ]:
dir()

# Object types

<table id="built-in_objects_preview"><caption><span class="label">Table 4-1. </span></caption><thead><tr><th>Object
            type</th><th>Example
            literals/creation</th></tr></thead><tbody><tr><td><p>Num<a data-type="indexterm" data-primary="numbers" data-secondary="numeric literals" id="idm45598228681320"></a><a data-type="indexterm" data-primary="literals" data-secondary="numeric" id="idm45598228680344"></a>bers</p></td><td><p><code>1234</code>, <code>3.1415</code>, <code>3+4j</code>, <code>0b111</code>, <code>Decimal()</code>, <code>Fraction()</code></p></td></tr><tr><td><p>Strin<a data-type="indexterm" data-primary="strings (str object)" data-secondary="literals" id="idm45598228673432"></a><a data-type="indexterm" data-primary="literals" data-secondary="string" id="idm45598228672280"></a>gs</p></td><td><p><code>'spam'</code>, <code>"Bob's"</code>, <code>b'a\x01c'</code>, <code>u'sp\xc4m'</code></p></td></tr><tr><td><p>Lis<a data-type="indexterm" data-primary="lists (list object)" data-secondary="literals" id="idm45598228668248"></a><a data-type="indexterm" data-primary="literals" data-secondary="list" id="idm45598228667016"></a>ts</p></td><td><p><code>[1, [2, 'three'], 4.5]</code>, <code>list(range(10))</code></p></td></tr><tr><td><p>Dict<a data-type="indexterm" data-primary="dictionaries (dict object)" data-secondary="literals" id="idm45598228663496"></a><a data-type="indexterm" data-primary="literals" data-secondary="dictionary" id="idm45598228662264"></a>ionaries</p></td><td><p><code>{'food': 'spam', 'taste': 'yum'}</code>,
            <code>dict(hours=10)</code></p></td></tr><tr><td><p>Tup<a data-type="indexterm" data-primary="tuples" data-secondary="literals" id="idm45598228658776"></a><a data-type="indexterm" data-primary="literals" data-secondary="tuple" id="idm45598228657480"></a>les</p></td><td><p><code>(1, 'spam', 4, 'U')</code>, <code>tuple('spam')</code>, <code>namedtuple</code></p></td></tr><tr><td><p>Set<a data-type="indexterm" data-primary="sets" data-secondary="literals" id="idm45598228648696"></a><a data-type="indexterm" data-primary="literals" data-secondary="set" id="idm45598228647496"></a>s</p></td><td><p><code>set('abc')</code>, <code>{'a', 'b', 'c'}</code></p></td></tr></tbody></table

<html>
    <i> Source  : Learning Python, 5th Edition
by Mark Lutz </i>

# Numerical Datatype

<table id="numeric_literals_and_constructors"><caption><span class="label">Table 5-1. </span></caption><thead><tr><th>Literal</th><th>Interpretation</th></tr></thead><tbody><tr><td><p><code>1234</code>, <code>−24</code>, <code>0</code>, <code>99999999999999</code></p></td><td><p>Integers (unlimited
              size)</p></td></tr><tr><td><p><code>1.23</code>, <code>1.</code>, <code>3.14e-10</code>, <code>4E210</code>, <code>4.0e+210</code></p></td><td><p>Floating-point
              numbers</p></td></tr><tr><td><p><code>0o177</code>, <code>0x9ff</code>, <code>0b101010</code></p></td><td><p>Octal, hex, and binary
              literals in 3.X</p></td></tr><tr><td><p><code>3+4j</code>, <code>3.0+4.0j</code>, <code>3J</code></p></td><td><p>Complex number
              literals</p></td></tr></tbody></table>

<html>
    <i> Source  : Learning Python, 5th Edition
by Mark Lutz </i>

In [10]:
x = 4
type(x)

int

In [15]:
dir(x)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [19]:
help(x.denominator)

Help on int object:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [12]:
print(dir(x))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
help(x.conjugate)

<html>
    <b> Mathematical Operators and Description </b>

<table id="python_expression_operators_and_preceden"><caption><span class="label">Table 5-2. </span></caption><thead><tr><th>Operators</th><th>Description</th></tr></thead><tbody><tr><td><p><code>x + y</code></p> <p><code>x – y</code></p></td><td><p>Addition,
              concatenation;</p> <p>Subtraction, set
              difference</p></td></tr><tr><td><p><code>x * y</code></p> <p><code>x % y</code></p> <p><code>x / y</code>, <code>x // y</code></p></td><td><p>Multiplication,<a data-type="indexterm" data-primary="modulus operator" id="idm45598227378312"></a><a data-type="indexterm" data-primary="% (percent sign)" data-secondary="numeric modulus operator" id="idm45598227377304"></a>
              <a data-type="indexterm" data-primary="mathematical operations" data-secondary="expression operators" id="idm45598227376264"></a>repetition;</p> <p>Remainder, format;</p>
              <p>Division: true and floor</p></td></tr><tr><td><p><code>−x</code>, <code>+x</code></p></td><td><p>Negation,
              identity</p></td></tr><tr><td><p><code>˜x</code></p></td><td><p>Bitwise NOT
              (inversion)</p></td></tr><tr><td><p><code>x ** y</code></p></td><td><p>Power
              (exponentiation)</p></td></tr></tbody></table>

<html>
    <b> 1. Calculate the area of a rectangle with width and length of rectangle as 10 and 5 respectively and print the results. </b>
    <p> Hint:</p>
    <p> Area  of rectangle $= length \times breadth$ </p>

In [22]:
# %load 1_1.py
width=10
length=5
area=width*length

In [24]:
print('Area of the rectangle is : ')
print(area)

Area of the rectangle is :
50

<html>
    <b>2.
        Convert the given height into inches, meter and cm, and print the results with units.</b>
    <p> Given</p><p> height = $4.5$ft </p>
    <p> Hint :</p> 
    <p> 1ft = 12 inches</p>
    <p> 1inch = 2.54 cm</p>
    <p> 1 meter = 100 cm</p>
</html>

In [ ]:
# %load 1_2.py

# Text Datatype

In [25]:
x_str = 'Hello'

In [26]:
print(dir(x_str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [36]:
x_str_mod = x_str.upper()
print(x_str_mod,x_str)

HELLO Hello

In [46]:
id(x_str[2]),id(x_str[1]),id(x_str)

(139765528023984, 139765527975984, 139765179047664)


Strings are immutable

In [51]:
#Indexing 
# print(x_str[0])
x_str[0] = 'H'
print(x_str)

TypeError: 'str' object does not support item assignment

In [44]:
type(x_str[0])

str

In [43]:
x_str[0].lower()

'h'

In [45]:
#Concatenation
y_str = x_str+ ' Python'
print(y_str)

Hello Python

In [ ]:
#Slicing 
print(y_str[1:5])

<html>
    <b> 1. Write a program to 
        <br>a. Create two variables of string datatype one containing your first name and the other your last name.
        <br>b. Get your full name by concatenating the two variable created and assign a new variable to it.
        <br>c. Use only the variable which contains your full name and print </b>
     <br>Your first name  : <i> first name </i> 
     <br>Your last name  : <i> last name </i> 
    <br> Your full name : <i> full name </i>

In [ ]:
# %load string_1.py
first_str = 'Chetan'
last_str = 'Adhikary'
full_str = first_str + last_str
print('Your first name :' , full_str[:6])
print('Your last name :' , full_str[6:])
print('Your full name :' , full_str)

## Input from the user

<html>
    <b>Syntax</b>
    <p> input('<i> User Prompt </i>')</p>
    <p> Returns the text enter by the user</p>

In [63]:
try_in = int(input('Enter an integer'))

Enter an integer265

In [64]:
type(try_in)

int

In [ ]:
name = input('Enter your name: ')

In [ ]:
name

<html>
    <b>3. Write a program which prompts the user for a Celsius temperature,
        convert the temperature to Fahrenheit, and print out the converted temperature.</b>
    </html>
    <p><b> Hint :</b></p>
    <p> <b> Formula</b> </p>
    <p> $ (0°C × 9/5) + 32 = 32°F $ </p>

In [ ]:
# %load 1_3.py
c = float(input('Enter the temperature in Celsius:'))
f = (c*(9/5))+32
print('Degree in Farenheit: ',f)

<html>
    <b> 4. Write a program to prompt the user for hours and rate per hour to
        compute gross pay.</b>
    <p> <b><i>Expected Output</i></b></p>
    <p><i>Enter Hours</i>: 35 </p>
    <p><i>Enter Rate</i>: 2.75</p>
    <p><i>Pay</i>: 96.25</p>

In [ ]:
# %load 1_4.py
hrs = int(input('Enter Hours: '))
rate = float(input('Enter Rate: '))
pay = hrs*rate
print('Pay: ',pay)

# Lists

In [10]:
lst_num = [1,2,3,4,5,6,7,'chetan']

In [11]:
lst_num[3] = 'Hello'
lst_num

[1, 2, 3, 'Hello', 5, 6, 7, 'chetan']

In [12]:
str_name = "Python"
str_name[4] = 'o'

TypeError: 'str' object does not support item assignment

In [71]:
type(lst_num)

list

In [78]:
lst_num[2].

'CHETAN'

In [75]:
type(lst_num[7])

str

In [79]:
lst_names = list()
lst_fruits = []

In [88]:
lst_names = ['Harry','Ron','Draco']

lists are mutable

In [85]:
lst_num[0] = 'Python'
lst_num

['Python', 2, 3, 4, 5, 6, 7, 'chetan']

In [82]:
id(x_str[0]),id(x_str[1]),id(x_str[2])

(139765528726448, 139765527975984, 139765528023984)

In [83]:
id(lst_num[0]),id(lst_num[1]),id(lst_num[2])

(93831403823904, 93831403823936, 93831403823968)

In [81]:
x_str[0]= 'c'

TypeError: 'str' object does not support item assignment

In [69]:
type(lst_names)

list

In [86]:
lst_num[0]

'Python'

In [93]:
lst_names

['Harry', 'Ron', 'Draco']

In [100]:
x_str = x_str_mod + 'Python'

In [103]:
x_str

'HELLOPython'

In [116]:
x_str[:5],x_str[5:],x_str[-1],x_str[-3:]

('HELLO', 'Python', 'n', 'hon')

In [123]:
x_str[:5:-1],x_str[::2],x_str[::2],

('nohty', 'HLOyhn', 'HLOyhn')

In [134]:
pal_str = 'madame'

In [131]:
x_str[:-7:1],x_str[:-7:-1]

('HELL', 'nohtyP')

In [97]:
lst_names[0:1]

['Harry']

In [ ]:
lst_names[2:4]

In [ ]:
print(dir(lst_names))

In [136]:
lst_names

['Harry', 'Ron', 'Draco']

In [140]:
lst_names.sort(reverse = True)

In [139]:
x_str.upper()

'HELLOPYTHON'

In [142]:
lst_names.sort?

In [138]:
lst_names

['Ron', 'Harry', 'Draco']

In [141]:
lst_names + lst_num

['Ron', 'Harry', 'Draco', 'Python', 2, 3, 4, 5, 6, 7, 'chetan']

<html>
    <b> 1. Write a program to prompt the user to enter his/her full name(First and last name with a space between).
     <br> Get the ouput as 
        <br> First name : <i> first name </i>
        <br> Last name : <i> last name </i></b>
        <p><i> Hint :</i>
    <br> Use split function of string object.

In [ ]:
# %load list_1.py

# Tuples

In [143]:
tup_num = tuple()

In [144]:
print(dir(tup_num))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [118]:
tup_cntry_1 = ('India','SriLanka','Bangladesh','Australia','China','Nepal')
tup_cntry_2 = ('USA','Russia','Canada','UK','WestIndies','Iraq','SouthAfrica')

In [146]:
#Indexing
tup_cntry_1[1:4]

('SriLanka', 'Bangladesh', 'Australia')

In [147]:
tup_cntry = tup_cntry_1 +tup_cntry_2 
print(tup_cntry)

('India', 'SriLanka', 'Bangladesh', 'Australia', 'China', 'Nepal', 'USA', 'Russia', 'Canada', 'UK', 'WestIndies', 'Iraq', 'SouthAfrica')

In [150]:
tup_cntry_mod = tup_cntry_1 + (1,2,3,4)

In [152]:
tup_cntry_mod[8] = 'New York'

TypeError: 'tuple' object does not support item assignment

In [47]:
lst_mod = [1,2,3,4,5,('India','UK','USA')]
print('lst_mod[-1]',type(lst_mod[-1]))
lst_mod_1 = [1,2,3,4,5,['India','UK','USA']]
print('lst_mod_1[-1]',type(lst_mod_1[-1]))

lst_mod[-1] <class 'tuple'>
lst_mod_1[-1] <class 'list'>

In [49]:
lst_mod[-1][0] = 'SriLanka'

TypeError: 'tuple' object does not support item assignment

In [18]:
lst_new = [1,2,3,4,5,tup_cntry_1]
type(lst_new)

list

In [19]:
lst_new

[1,
 2,
 3,
 4,
 5,
 ('India', 'SriLanka', 'Bangladesh', 'Australia', 'China', 'Nepal')]

In [41]:
tup_filter = lst_new[5]
print('lst_new[5]',tup_filter)
str_filter = tup_filter[2]
print('tup_filter[2]',str_filter)
str_final = str_filter[:4]
print('str_filter[:4]',str_final)

lst_new[5] ('India', 'SriLanka', 'Bangladesh', 'Australia', 'China', 'Nepal')
tup_filter[2] Bangladesh
str_filter[:4] Bang

In [36]:
lst_new[5][2][:4]

'Bang'

In [16]:
lst_new[2] = 'R'
lst_new[4] = 'N'
lst_new[-1] = 'K'

In [17]:
lst_new

[1, 2, 'R', 4, 'N', 'K']

In [20]:
lst_cntry_2 = ['USA','Russia','Canada','UK','WestIndies','Iraq','SouthAfrica']

In [55]:
tup_new = (tup_cntry_1[:] , [1,2,3,5], tup_cntry_2)

In [99]:
tup_new = tup_cntry_1

In [60]:
tup_new[1][2] = 'Hello'
tup_new

(('India', 'SriLanka', 'Bangladesh', 'Australia', 'China', 'Nepal'),
 [1, 2, 'Hello', 5],
 ('USA', 'Russia', 'Canada', 'UK', 'WestIndies', 'Iraq', 'SouthAfrica'))

## Shallow Copy

In [75]:
lst_a = [1,2,3,4,5]
lst_c = []

In [73]:
id(lst_a[:]),id(lst_a)

(139899198540048, 139899199752064)

In [100]:
lst_c = lst_a[:]

In [62]:
lst_c = lst_a
lst_c

[1, 2, 3, 4, 5]

In [71]:
lst_c[0] = 'Hi'
lst_c

['Hi', 2, 3, 4, 5]

In [72]:
lst_a

[1, 2, 3, 4, 5]

## Deep Copy

In [94]:
import copy

In [101]:
lst_a1 = [1,2,3,4,5,['H','E','L','L','O']]

In [104]:
lst_a1[-1][:2]

['H', 'E']

In [89]:
id(lst_a1[:]),id(lst_a1)

(139899199521968, 139899198392432)

In [93]:
id(lst_a1[:][-1]),id(lst_a1[-1])

(139899200234432, 139899200234432)

In [96]:
lst_c1 = copy.deepcopy(lst_a1)
lst_c1

[1, 2, 3, 4, 5, ['H', 'E', 'L', 'L', 'O']]

In [97]:
lst_c1[-1][0] = 12
lst_c1

[1, 2, 3, 4, 5, [12, 'E', 'L', 'L', 'O']]

In [98]:
lst_a1

[1, 2, 3, 4, 5, ['H', 'E', 'L', 'L', 'O']]

# Dictionary

In [105]:
dict_num = dict()
dict_num = {}

In [ ]:
print(dir(dict_num))

In [116]:
dict_alpha = {1:'a',2:'b',3:'c'}

In [106]:
dict_num = {1:'one',2:'two',3:'three',4:'four'}

In [108]:
dict_num[3]

'three'

In [111]:
dict_num[2] = 'TWO'

In [113]:
dict_num[8] = 'five'

In [114]:
dict_num

{1: 'one', 2: 'TWO', 3: 'three', 4: 'four', 5: 'five', 8: 'five'}

In [119]:
type(tup_cntry_1)

tuple

In [124]:
dict_num['alpha'] = dict_alpha
dict_num

{1: 'one',
 2: 'TWO',
 3: 'three',
 4: 'four',
 5: 'five',
 8: 'five',
 ('India',
  'SriLanka',
  'Bangladesh',
  'Australia',
  'China',
  'Nepal'): 'alphabets',
 9: ('India', 'SriLanka', 'Bangladesh', 'Australia', 'China', 'Nepal'),
 'alpha': {1: 'a', 2: 'b', 3: 'c'}}

In [129]:
dict_num['alpha'][3].capitalize()

'C'

In [132]:
dict_num[9][2].split('g')[0].upper()

'BAN'

Datatype for :
key : int,string,tuple,
Datatype for :
value: int,string,list,tuple,dict

AI : none (int)
Sh : int,string
Ra : except list
Ak : int,string
Sin : int,string(excluding tuple)

In [133]:
dict_user_1 = {'ID':'1am10','Name':'Chetan','Hobbies':['Cricket','Chess']}
dict_user_2  = {'ID':'1am12','Name':'Aishwarya','Hobbies':['Fighting','Playing']}

In [134]:
dict_users['Chetan']

NameError: name 'dict_users' is not defined

<html>
    <b> 1. Write a program to prompt the user for his/her 'ID', 'Name' and 'Hobbies'
        <br>a. Create a dictionary having keys as 'ID','Name','Hobbies' and fill the values from the respective entry by the user
        <br> b. Print the dictionary variable

In [140]:
# %load dict_1.py
u_id = input('Please enter your ID')
u_name = input('Please enter your name')
u_hob = input('Please enter your hobbies')
dict_user1 = dict()
dict_user1['ID'] = u_id
dict_user1['Name'] = u_name
dict_user1['Hobbies'] = u_hob
print(dict_user1)

Please enter your ID1AM19
Please enter your namechetan
Please enter your hobbiescricket
{'ID': '1AM19', 'Name': 'chetan', 'Hobbies': 'cricket'}

In [141]:
dict_user1

{'ID': '1AM19', 'Name': 'chetan', 'Hobbies': 'cricket'}

In [17]:
dict_user2 ={'ID':'1Hog01','Name':'Harry', 'Hobbies':'Quidditch'}
dict_user3 ={'ID':'1Hog02','Name':'Ron', 'Hobbies':'Chess'}
dict_user4 ={'ID':'1Hog03','Name':'Harmoine', 'Hobbies':'Reading'}

In [18]:
dict_user2

{'ID': '1Hog01', 'Name': 'Harry', 'Hobbies': 'Quidditch'}

In [ ]:
dict_users[dict_user1['Name']]

In [144]:
dict_users = {'Chetan':dict_user1,'Harry':dict_user2,'Ron': dict_user3, 'Harmoine':dict_user4}

In [148]:
dict_users['Ron']['Hobbies']

'Chess'

In [1]:
dict_users = dict()

In [3]:
dict_user = dict()
user_hobbies_list = []
print(dict_user)

user_id = input('Enter id: ')
user_name = input('Enter Name: ')
user_hobbies_string = input('Enter Hobbies seperated by , : ')
user_hobbies_list = user_hobbies_string.split(',')
dict_user = {'id': user_id, 'name': user_name, 'hobbies':user_hobbies_list}
dict_users[dict_user['name']] = dict_user
print(dict_users)

{}
Enter id: 1ana
Enter Name: harry
Enter Hobbies seperated by , : quidditch
{'chetan': {'id': '1akn', 'name': 'chetan', 'hobbies': ['cricket', 'chess']}, 'harry': {'id': '1ana', 'name': 'harry', 'hobbies': ['quidditch']}}

# Sets

In [4]:
set_num = {1,2,3,4,5,6,5,6,4,7,'hello','Hello'}

In [6]:
print(set_num)

{1, 2, 3, 4, 5, 6, 7, 'Hello', 'hello'}

In [15]:
print(dir(set_num))
print(dir(list))
print(dir(tuple))
print(dir(str))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
set_num.copy?

In [19]:
for i in set_num:
    print(i)

1
2
3
4
5
6
7
Hello
hello

In [ ]:
print(id(set_num))
set_num.add(30)
print(id(set_num))

In [20]:
set_A = {1,2,3,4,5}
set_B = {4,5,6,7,8}

In [22]:
set_A& set_B

{4, 5}

In [21]:
set_A|set_B

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
lst_1 = [1,2,3,4,7,85,57,43,3,2,1]

In [25]:
set(lst_1)

{1, 2, 3, 4, 7, 43, 57, 85}

# Category of Object Datatypes
## Mutable 
## Immutable

In [1]:
x =1
bool(x)

True

In [4]:
['z','y'][1]

'y'