In [ ]:
lst_names = ['chetan','bruhanth','aishwarya','shabbir','sindhu']
lst_job = ['Faculty','Research','Developer','Developer','Developer']
lst_hobbies = [['cricket','reading'],['reading'],['travelling'],['reading'],['reading']]

<html>
    <table>
        <tr>
            <th>index</th><th> 0 </th><th> 1</th><th> 2</th><th> 3</th><th> 4</th>
        </tr>
        <tr>
            <td>lst_names</td><td>chetan</td><td>bruhanth</td><td>aishwarya</td><td>shabbir</td><td>sindhu</td>
        </tr>
        <tr>
            <td>lst_job</td><td>Faculty</td><td>Research</td><td>Developer</td><td>Developer</td><td>Developer</td>
        </tr>
        <tr>
            <td>lst_hobbies</td><td>cricket,reading</td><td>reading</td><td>travelling</td><td>reading</td><td>reading</td>
        </tr>
    </table>
</html>

In [ ]:
index = lst_names.index('bruhanth')
lst_job[index]

In [ ]:
dict_profile_1 ={'Name':'chetan','Job':'Faculty','hobbies':['cricket','reading'],}
dict_profile_2 = {'Name':'bruhanth','Job':'Research','hobbies':['reading']}
dict_profile_3 = {'Name':'aishwarya','Job':'Developer','hobbies':['travelling']}
dict_profile_4 = {'Name':'shabbir','Job':'Developer','hobbies':['reading']}
dict_profile_5 = {'Name':'sindhu','Job':'Developer','hobbies':['reading']}
lst_profiles = list([dict_profile_1,dict_profile_2,dict_profile_3,dict_profile_4,dict_profile_5])

<html>
    <table >
        <tr>
            <th>index</th><th> 0 </th><th> 1 </th><th> 2</th><th> 3</th><th> 4</th>
        </tr>
        <tr>
            <td>Name</td><td>chetan</td><td>bruhanth</td><td>aishwarya</td><td>shabbir</td><td>sindhu</td>
        </tr>
        <tr>
            <td>Job</td><td>Faculty</td><td>Research</td><td>Developer</td><td>Developer</td><td>Developer</td>
        </tr>
        <tr>
            <td>hobbies</td><td>cricket,reading</td><td>reading</td><td>travelling</td><td>reading</td><td>reading</td>
        </tr>
    </table>
</html>

In [ ]:
lst_profiles[0]['hobbies']

dict_profiles = dict({'chetan':dict_profile_1,'bruhanth':dict_profile_2,
                     'aishwarya':dict_profile_3,'shabbir':dict_profile_4,
                     'sindhu':dict_profile_5})

<html>
    <table >
        <tr>
            <th>key</th><th> Name </th><th> Job </th><th>Hobbies</th>
        </tr>
        <tr>
            <td>chetan</td><td>chetan</td><td>Faculty</td><td>reading,cricket</td>
        </tr>
        <tr>
            <td>bruhanth</td><td>bruhanth</td><td>Research</td><td>reading</td>
        </tr>
        <tr>
            <td>aishwarya</td><td>aishwarya</td><td>Developer</td><td>travelling</td>
        </tr>
        <tr>
            <td>shabbir</td><td>shabbir</td><td>Developer</td><td>reading</td>
        </tr>
        <tr>
            <td>sindhu</td><td>sindhu</td><td>Developer</td><td>reading</td>
        </tr>
    </table>
</html>

In [1]:
dict_profiles['chetan']['Name']

# Pandas Datastructures

In [1]:
import pandas as pd

In [2]:
import numpy as np

## Dataframe

In [8]:
df_student = pd.DataFrame()
df_student['Name'] = ['Harry Potter','Ronald Weasley','Harmoine Grenger']
df_student['Branch'] = ['ECE','CSE','ECE']
df_student['Hobbies'] = ['Football,Cricket','Chess','Reading']

In [9]:
df_student

               Name Branch           Hobbies
0      Harry Potter    ECE  Football,Cricket
1    Ronald Weasley    CSE             Chess
2  Harmoine Grenger    ECE           Reading

## Series

In [10]:
ser_1 = pd.Series(['Draco','Civil','Bowling,Horse Riding'],index = ['Name','Branch','Hobbies'])
ser_1

Name                      Draco
Branch                    Civil
Hobbies    Bowling,Horse Riding
dtype: object

In [11]:
df_student.append(ser_1,ignore_index= True)

               Name Branch               Hobbies
0      Harry Potter    ECE      Football,Cricket
1    Ronald Weasley    CSE                 Chess
2  Harmoine Grenger    ECE               Reading
3             Draco  Civil  Bowling,Horse Riding

# Load DataSet

In [12]:
import pandas as pd

## Read books.csv dataset

## Get top 5 and bottom 5 entries of the dataset

## Get the datatypes of the columns in the dataset

## Get the number of entries and columns of the dataset

## Get the columns of the dataset

## Get the complete description of all the columns

## Get the count of each of the author/authors publication

## Get the index of the dataset

# Filter the Data

## Get the first five rows of the dataset

In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('books.csv')

In [3]:
df.head(5)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count,Unnamed: 10
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,9.78044E+12,eng,652,1944099,26249,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,9.78044E+12,eng,870,1996446,27613,NaN
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,9.78044E+12,eng,320,5629932,70390,NaN
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,9.78044E+12,eng,352,6267,272,NaN
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9.78044E+12,eng,435,2149872,33964,NaN

## Get all the rows selecting the collumns title ,authors and language_code

In [4]:
df.loc[:,['title','authors','language_code']]

,title,authors,language_code
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,eng
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,eng
2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,eng
3,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,eng
4,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,eng
...,...,...,...
13713,M Is for Magic,Neil Gaiman-Teddy Kristiansen,eng
13714,Black Orchid,Neil Gaiman-Dave McKean,eng
13715,InterWorld (InterWorld #1),Neil Gaiman-Michael Reaves,en-US
13716,The Faeries' Oracle,Brian Froud-Jessica Macbeth,eng
13717,The World of The Dark Crystal,Brian Froud,eng

## Get the titles written by only J.K. Rowling

In [17]:
df_top = df.head(20)
df_top['average_rating'] =pd.to_numeric(df_top['average_rating'])

In [19]:
df_top.loc[(df_top['authors']=='J.K. Rowling') & (df_top['average_rating']>4.2)]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count,Unnamed: 10
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,9.780440e+12,eng,352,6267,272,NaN
7,10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,439827604,9.780440e+12,eng,3342,27410,820,NaN

## Get the titles written by either J.K. Rowling or Stephen King

In [20]:
df.loc[df['authors'].isin(['J.K. Rowling','Stephen King'])]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count,Unnamed: 10
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,9.780440e+12,eng,352,6267,272,NaN
7,10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,439827604,9.780440e+12,eng,3342,27410,820,NaN
693,2002,Harry Potter Schoolbooks Box Set: Two Classic ...,J.K. Rowling,4.4,043932162X,9.780440e+12,eng,240,11459,143,NaN
695,2005,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.56,747584664,9.780750e+12,eng,768,1173,72,NaN
1123,3357,Harry Potter Y La Piedra Filosofal (Harry Pott...,J.K. Rowling,4.47,613359607,9.780610e+12,spa,254,84,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12261,41912,Harry Potter ve Felsefe Taşı,J.K. Rowling,4.47,3570211010,9.783570e+12,tur,353,12,0,NaN
12664,43504,Harry Potter and the Philosopher's Stone (Harr...,J.K. Rowling,4.47,158234681X,9.781580e+12,gla,250,11,0,NaN
12667,43509,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,4.55,074754624X,9.780750e+12,eng,636,18097,860,NaN
13641,47532,Harry Potter y el prisionero de Azkaban (Harry...,J.K. Rowling,4.55,8478886559,9.788480e+12,spa,359,5582,469,NaN
13647,47549,La Torre Oscura (La Torre Oscura #7),Stephen King,4.28,8401335833,9.788400e+12,spa,985,46,5,NaN

## Get the titles of the books which contain Harry Potter

In [25]:
df['title'].str.contains('Harry Potter')

0         True
1         True
2         True
3         True
4         True
         ...
13713    False
13714    False
13715    False
13716    False
13717    False
Name: title, Length: 13718, dtype: bool

In [26]:
df.loc[df['title'].str.contains('Harry Potter')]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count,Unnamed: 10
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,9.780440e+12,eng,652,1944099,26249,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,9.780440e+12,eng,870,1996446,27613,NaN
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,9.780440e+12,eng,320,5629932,70390,NaN
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,9.780440e+12,eng,352,6267,272,NaN
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9.780440e+12,eng,435,2149872,33964,NaN
5,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling-Mary GrandPré,4.78,439682584,9.780440e+12,eng,2690,38872,154,NaN
6,9,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.69,976540606,9.780980e+12,en-US,152,18,1,NaN
7,10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,439827604,9.780440e+12,eng,3342,27410,820,NaN
693,2002,Harry Potter Schoolbooks Box Set: Two Classic ...,J.K. Rowling,4.4,043932162X,9.780440e+12,eng,240,11459,143,NaN
694,2004,J.K. Rowling's Harry Potter Novels: A Reader's...,Philip Nel,3.57,826452329,9.780830e+12,eng,96,74,7,NaN
695,2005,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.56,747584664,9.780750e+12,eng,768,1173,72,NaN
1123,3357,Harry Potter Y La Piedra Filosofal (Harry Pott...,J.K. Rowling,4.47,613359607,9.780610e+12,spa,254,84,5,NaN
1429,4256,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,4.55,074757362X,9.780750e+12,eng,480,3116,147,NaN
5076,15190,Looking for God in Harry Potter,John Granger,4.13,1414306342,9.781410e+12,eng,234,1321,93,NaN
5293,15867,Mugglenet.Com's What Will Happen in Harry Pott...,Ben Schoen-Andy Gordon-Gretchen Stull-Emerson ...,4.22,1569755833,9.781570e+12,en-GB,216,8587,118,NaN
5294,15872,Harry Potter y el misterio del príncipe (Harry...,J.K. Rowling-Gemma Rovira Ortega,4.56,8478889930,9.788480e+12,spa,602,4572,338,NaN
5295,15875,Harry Potter y la cámara secreta (Harry Potter...,J.K. Rowling,4.41,8498380138,9.788500e+12,spa,288,181,15,NaN
5296,15876,Harry Potter y la Orden del Fénix (Harry Potte...,J.K. Rowling,4.49,8478888845,9.788480e+12,spa,893,4893,397,NaN
5297,15877,Ultimate Unofficial Guide to the Mysteries of ...,Galadriel Waters-Astre Mithrandir,4.05,972393617,9.780970e+12,en-US,412,2725,36,NaN
5298,15879,The Science Of Harry Potter,Roger Highfield,4.04,755311515,9.780760e+12,en-GB,374,19,5,NaN
5300,15881,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling-Mary GrandPré,4.41,439064864,9.780440e+12,eng,341,2115562,32694,NaN
9854,31819,Harry Potter and Philosophy: If Aristotle Ran ...,David Baggett-Shawn E. Klein,4.48,812694554,9.780810e+12,eng,243,11068,79,NaN
10521,34258,Harry Potter y la Orden del Fénix (Harry Potte...,J.K. Rowling,4.49,8478887423,9.788480e+12,spa,896,953,51,NaN
10542,34318,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,786222727,9.780790e+12,eng,424,132,12,NaN
12257,41907,Harry Potter und die Kammer des Schreckens (Ha...,J.K. Rowling,4.41,3551552096,9.783550e+12,ger,351,25,1,NaN
12258,41908,Harry Potter und der Gefangene von Askaban (Ha...,J.K. Rowling-Rufus Beck,4.55,3895849618,9.783900e+12,ger,13,308,8,NaN
12259,41909,Harry Potter ve Sırlar Odası (Harry Potter #2),J.K. Rowling-Sevin Okyay,4.41,3570211029,9.783570e+12,tur,403,823,36,NaN
12260,41911,Harry Potter und der Gefangene von Askaban (Ha...,J.K. Rowling,4.55,355155210X,9.783550e+12,ger,448,28,2,NaN
12261,41912,Harry Potter ve Felsefe Taşı,J.K. Rowling,4.47,3570211010,9.783570e+12,tur,353,12,0,NaN
12664,43504,Harry Potter and the Philosopher's Stone (Harr...,J.K. Rowling,4.47,158234681X,9.781580e+12,gla,250,11,0,NaN
12665,43507,Гарри Поттер и философский камень (Harry Potte...,J.K. Rowling-Дж.К. Ролинг-И.В. Оранского,4.47,535300308X,9.785350e+12,rus,400,425,7,NaN
12666,43508,Harry Potter e il Calice di Fuoco,J.K. Rowling-Serena Daniele-Beatrice Masini-Se...,4.55,888451049X,9.788880e+12,ita,627,4983,157,NaN
12667,43509,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,4.55,074754624X,9.780750e+12,eng,636,18097,860,NaN
13637,47522,Harry Potter und der Stein der Weisen (Harry P...,J.K. Rowling-Klaus Fritz,4.47,3551354014,9.783550e+12,ger,334,694,44,NaN
13638,47523,Harry Potter Boxed Set (Harry Potter #1-4),J.K. Rowling-Mary GrandPré,4.67,439434866,9.780440e+12,eng,1820,534,6,NaN
13640,47530,Mapping the World of Harry Potter: Science Fic...,Mercedes Lackey-Leah Wilson-Adam-Troy Castro-R...,4.32,1932100598,9.781930e+12,eng,195,2461,54,NaN
13641,47532,Harry Potter y el prisionero de Azkaban (Harry...,J.K. Rowling,4.55,8478886559,9.788480e+12,spa,359,5582,469,NaN
13642,47538,Harry Potter et le Prisonnier d'Azkaban (Harry...,J.K. Rowling-Jean-François Ménard,4.55,2070541304,9.782070e+12,fre,349,249,11,NaN

# Operations on DataFrame

## Sort the dataset w.r.t title column

## Add a new column grade . Assign grade A for ratings between 4-5, B for ratings between 3-4 and C for any rating below 3

# GroupBy

## Use occupation dataset from occupation.csv

## Identify the occupation where female workers are more in number compared to male workers. Also get the difference number. Plot the result as occupation vs the number of jobs for male and female in one graph

## Categorize male and female works who fall in different age group. Get the age group approximated to multiples of 10. (10,20,30,40.. i.e any age between 10 to 20 has to approximated to 20 , between 20 to 30 to 30 and so on..). Plot the appropriate graph

## Load tips dataset

## Calculate the tips given by male and female on particular day of the week. Plot an appropriate graph showing days of the week , tips given by male and female for all the days of the week